$main-purple: rgb(144, 136, 212);
$white: rgb(253, 253, 253);
$black: rgb(37, 42, 51);
$dark-grey: rgb(145, 147, 153);
$dark-purple: rgb(112, 104, 151);
$light-purple: rgb(231, 230, 245);
$grey: rgb(222, 222, 222);
$blue: rgb(129, 178, 243);
$orange: rgb(246, 193, 146);
$red: rgb(242, 153, 153);

$padding: 0.8rem;
$border-radius: 10px;
$btn-border-radius: 2rem;
$btn-padding: 1rem;

$screen-width-small: 550px;
$screen-width-medium: 870px;
$screen-width-large: 1096px;
$screen-width-full: 1200px;
