.subtask-form {
  display: flex;
}

.subtask-form > *:not(:last-child) {
  margin-right: 1rem;
}

.subtask-form__done-label {
  @include input;

  color: $dark-purple;
}

.subtask-form__text-input {
  flex-grow: 1;
  border-radius: $border-radius;
}

.subtask-form__btn:disabled {
  @include disabled;
}
